.titled-pane > .title > .arrow-button {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}
.titled-pane > .title {
    -fx-background-color: #96A8B3;
}


.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow {
    -fx-rotate: -90;
}

.titled-pane > *.content {
    -fx-background-color: #676773;
    -fx-background-insets: 0, 0 1 1 1;
    -fx-padding: 0.167em;
}

.titled-pane:focused > .title > .arrow-button .arrow {
    /*-fx-background-color: white;*/
}

.cell_task_list {
    -fx-background-color: null;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 17px;
    -fx-text-fill: #010504;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: null;
}